$margin: 0px;
$font-family: Arial, Helvetica, sans-serif;
$font-size: 15px;
$warnaJudul-Portofolio:rgb(237, 111, 0);
$padding: 0px;
$justify-content: center;
$display: flex;

body{
    margin: $margin;
    font-family: $font-family;
    box-sizing: border-box;
}

.judul-portofolio{
    display: $display;
    background-color: $warnaJudul-Portofolio;
    text-align: center;
    font-size: $font-size;
    color: white;
    text-shadow: 2px 2px 2px black;
    position: sticky;
    justify-content: $justify-content;
}

.navbar-menu{
    display: $display;
    background-color:azure;
    justify-content: $justify-content ;
    height: 80px;
    height: 30px;
    position: sticky;
    padding: $padding;
    left: 0px;
    width: 100%;
}

.navbar-menu ul{
    display: $display;
    margin: $margin;
    width: 100%;
    padding: $padding;
    justify-content: $justify-content;
    list-style: none;
}

.navbar-menu ul li {
    margin: 10px;
    justify-content: $justify-content ;
}

.navbar-menu ul li a{
    text-decoration: none;
}

.title-profile{
    display: $display;
    justify-content: $justify-content;
}

.card-img{
    display: $display;
    justify-content: $justify-content;
    margin-top: 0px;
}

.card-img img{
    width: 50%;
    height: auto;
    object-fit: cover;
    border-radius: 25px ;
    box-shadow:2px 2px 2px black;
}


.paragraf-profile{
    display: $display;
    justify-content: $justify-content;
    margin-top: 15px;
    z-index: 2;
}


.footer-menu{
    display: $display;
    background-color: rgb(253, 145, 3);
    justify-content: $justify-content;
    position: fixed;
    bottom: 0px;
    width: 100%;
    color: white;

}


form div{
    margin: $margin;
    padding: 10px;
}

.card-form{
    background-color:#f1ecec;
    margin: 20px;
    box-shadow: 2px 2px 2px black;
    height: 500px;
    display: $display;
    justify-content: left;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 100px;
}

label{
    display: block;
    display: $display;
}

input{
    width: 300px;
    height: 35px;
}

textarea{
    width: 300px;
    height: 50px;
}

.title-form{
    text-align: center;
    margin-top: 0px;
}

.btn-kirim{
    display: $display;
    justify-content: $justify-content;
}

.btn-kirim button{
    width: 100px;
    height: 30px;
    background-color: rgb(46, 193, 46);
}


@media screen and (min-width:700px) {
    .card-form{
        background-color:#f1ecec;
        margin: 30px auto;
        box-shadow: 2px 2px 2px black;
        height: 500px;
        display: $display;
        justify-content: $justify-content;
        align-items: center;
        border-radius: 20px;
        margin-bottom: 100px;
        width: 500px;
    }


  
}



